<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutPadrao}">
<head>
<meta charset="UTF-8">
<title>Lista de Fabricante</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="py-1 text-center">
			<h2 class="h1-responsive font-weight-bold text-center">Lista de Fabricante</h2>
		</div>
		<div class="container table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>id</th>
						<th>Nome</th>
						<th>Descrição</th>
						<th><a th:href="@{/fabricantes/novo}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Novo</a></th>
					</tr>
				</thead>
				<tbody>
				 <tr th:each="fabricante : ${fabricantes}">
				 	<td th:text="${fabricante.id}"></td>
				 	<td th:text="${fabricante.nome}"></td>
				 	<td th:text="${fabricante.descricao}"></td>
				 	<td>
				 		<a th:href="@{/fabricantes/editar/{id}(id=${fabricante.id})}">Editar</a>
				 		<a onclick="return confirm('Confirma a exclusão?');" th:href="@{/fabricantes/excluir/{id}(id=${fabricante.id})}">Excluir</a>
				 	</td>
				 </tr>
				 <tr th:if="${#lists.isEmpty(fabricantes)}">
				 	<td colspan="4">Nenhum registro foi cadastrado!</td>
				 </tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>