<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de fabricante</title>
</head>
<body>
	<a th:href="@{/fabricantes}">Listar</a>

	<h1>Cadastro de fabricante</h1>
	
	<form action="/fabricantes" method="POST" th:object="${fabricante}">
	
		<!-- ERROS -->
		<div th:if="${#fields.hasAnyErrors()}">
			<div th:each="error : ${#fields.detailedErrors()}">
				<span th:text="${error.message}"></span>
			</div>
		</div>
		
		<!-- MENSAGEM GERAL -->
		<div th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>
		
		<input type="hidden" th:field="*{id}"/>
		
		<label for="nome">Nome:</label>
		<input id="nome" type="text" th:field="*{nome}"/>

		<br/>

		<label for="descricao">Descrição:</label>
		<input id="descricao" type="text" th:field="*{descricao}"/>

		<br/>
		
		<button type="submit" >SALVAR</button>
	</form>
</body>
</html>